* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 22, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Live_timer_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 100px;
    color: #fff;
}